* {
    margin: 0px;
}

body{
    background-color: black;
}

.navbar {
    background-color: black;
    display: flex;
}

#menu_botao{
    background-color: black;
    border-style: none;
    width: 100%;
}

.logo img {
    width: 50%;
    padding: 10%;
}

main{
    background-color: white;
}

.menu_dashboard img {
    width: 60%;
    margin-left: 40%;
    margin-top: 2%;
    padding: 5%;
}

.frase_introdutoria {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5%;
    text-size-adjust: 250%;
    max-width: 100%;
}

.frase_introdutoria img {
    width: 50%;
    align-items: center;
}

.login {
    background-color: #187f4c;
    color: #dddfe3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    border-radius: 20%;
    padding: 5%;
    margin: 10px 20px;
    height: 260px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#texto_login {
    margin-left: 10px;
}

#usuario_login {
    margin: 5px;
    font-size: 30px;
    color: #94a0b7;
    background-color: #dddfe3;
    border-radius: 10px;
    max-width: 100%;
    height: 50px;
    border-style: none;
}

#senha_login {
    margin: 5px;
    font-size: 30px;
    color: #94a0b7;
    background-color: #dddfe3;
    border-radius: 10px;
    max-width: 100%;
    height: 50px;
    border-style: none;
}

#enviarDados {
    margin: 5px;
    font-size: 30px;
    color: white;
    background-color: rgb(27, 77, 27);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: none;
}

#esqueceu_senha {
    font-size: 20px;
    text-decoration: none;
    color: #dddfe3;
    margin-left: 10px;
}

#olho {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 20px;
    padding: 5px;
    margin-left: 67%;
    margin-top: 2%;
    border-style: none;
    background-color: #dddfe3;
    align-content: center;
}

#olho img{
    width: 40px;
}

.footer h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}